.container{
    display: flex;
    width: auto;
    // height: 50%;
    bottom: 0rem;
    padding: 15px;
    align-items: flex-end;
}

.btn-logout{
    background-color: #A4A7FD;
    width: 100%;
    height: 30px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: unset;
    font-weight: bold;
    &:hover{
        opacity: 80%;
    }
}